*{
    padding: 0px;
    margin: 0px;
}

#navratra{
    border: 2px solid black;
    position: sticky;
    top: 0px;
    text-align: center;
    color: white;
    font-weight: bolder;
    background-color: black;
}

.lorem{
    padding-right: 500px;
    background-color:gray;
    color: azure;
}

#button{
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 100px;
    background-color: black;
    color: aliceblue;
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: center;
    font-size: smaller;
}