*{
    background-color: rgb(196, 33, 33);
}
/* //tagselector */
div{
    background-color: aquamarine;
}
/* classselector */
.abc{
    background-color: bisque;
}
/* //tagSelector */
h1{
    background-color: rgb(56, 50, 43);
}
/* id selector */
#heading1{
    background-color: rgb(93, 93, 28);
}